<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #frm="ngForm">
    <ion-list>

      <ion-item>
        <ion-label fixed>{{ 'FIRST_NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.firstname" name="firstname" #firstname="ngModel" placeholder="{{ 'FIRST_NAME_PLACEHOLDER' | translate }}" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'LAST_NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.lastname" name="lastname" #lastname="ngModel" placeholder="{{ 'LAST_NAME_PLACEHOLDER' | translate }}" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" #email="ngModel" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" #password="ngModel" required minlength="4" validateEqual="confirmPassword" reverse="true" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'CONFIRM_PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword.password" name="confirmPassword" #confirmPassword="ngModel" validateEqual="password" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"></ion-input>
      </ion-item>

      <div padding-horizontal *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
        <p ion-text color="danger" [hidden]="!firstname.errors.required">
          {{ 'FIRST_NAME_REQUIRED' | translate }}
        </p>
      </div>

      <div padding-horizontal *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
        <p ion-text color="danger" [hidden]="!lastname.errors.required">
          {{ 'LAST_NAME_REQUIRED' | translate }}
        </p>
      </div>

      <div padding-horizontal *ngIf="email.errors && (email.dirty || email.touched)">
        <p ion-text color="danger" [hidden]="!email.errors.required">
          {{ 'EMAIL_REQUIRED' | translate }}
        </p>
      </div>

      <div padding-horizontal *ngIf="password.errors && (password.dirty || password.touched)">
        <p ion-text color="danger" [hidden]="!password.errors.required">
          {{ 'PASSWORD_REQUIRED' | translate }}
        </p>
        <p ion-text color="danger" [hidden]="!password.errors.minlength">
          {{ 'PASSWORD_LENGTH_ERROR' | translate }}
        </p>
      </div>

      <div padding-horizontal *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
        <p ion-text color="danger">
          {{ 'PASSWORD_MATCH_ERROR' | translate }}
        </p>
      </div>

      <div padding>
        <button ion-button color="{{appConfig.appThemeOptions.color}}" block (click)="doSignup()" [disabled]="!frm.form.valid">{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

      <div padding>
        <button ion-button color="{{appConfig.appThemeOptions.color}}" clear block (click)="verifyAccount()">{{ 'HAVE_VERICODE_BUTTON' | translate }}</button>
        <button ion-button color="{{appConfig.appThemeOptions.color}}" clear block (click)="newVerificationCode()">{{ 'NEW_ACCOUNT_VERIFICATION_TOKEN_BUTTON' | translate }}</button>
      </div>


    </ion-list>
  </form>
</ion-content>
