page-interactions {
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }
  .new_message {
    font-weight: bold;
    color: color($colors, dark, base);
  }
}
