<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ section.name }}</ion-title>

    <ion-buttons end>
      <button [hidden]="!(section.initiatedby=='User')" ion-button icon-only (click)="newInteraction()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let interaction of interactions">

      <button ion-item (click)="openInteractionMessage(interaction)">
        <h2 class="ellipsis">{{interaction.title}}</h2>
        <h3 class="ellipsis">{{interaction.lastmessagepreview}}</h3>
        <div item-right text-right>
          <p [className]="interaction.myunreadcount?'new_message':''">{{interaction.lastmessagedate | amCalendar:{sameDay:'h:mm A', lastDay: 'ddd', lastWeek: 'ddd', sameElse: 'MM/DD/YYYY'} }}</p>
          <ion-badge *ngIf="interaction.myunreadcount" text-center color="{{appConfig.appThemeOptions.color}}">
            {{interaction.myunreadcount}}
          </ion-badge>
        </div>
      </button>

      <ion-item-options>
        <button ion-button color="{{appConfig.appThemeOptions.color}}" (click)="openInteractionMessage(interaction)">
          <ion-icon name="open"></ion-icon>
          {{openString}}
        </button>
        <button ion-button *ngIf="section.initiatedby=='User' && section.usercandeleteowninteraction" color="danger" (click)="deleteInteraction(interaction)">
          <ion-icon name="trash"></ion-icon>
          {{delString}}
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="showEmpty && (!interactions || !interactions.length)">
    <ion-item text-center>
      {{emptyErrorString}}
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
