<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ 'RESET_PASSWORD_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #frm="ngForm">
    <ion-list>
      <p padding>
        {{ 'RESET_PASSWORD_DESCRIPTION' | translate }}
      </p>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" #email="ngModel" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'VERIFICATION_TOKEN' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.token" name="token" #token="ngModel" placeholder="{{ 'VERIFICATION_TOKEN' | translate }}" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'NEW_PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" #password="ngModel" required minlength="4" validateEqual="confirmPassword" reverse="true" placeholder="{{ 'NEW_PASSWORD' | translate }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'CONFIRM_PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" validateEqual="password" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"></ion-input>
      </ion-item>

      <div padding-horizontal *ngIf="email.errors && (email.dirty || email.touched)">
        <p ion-text color="danger" [hidden]="!email.errors.required">
          {{ 'EMAIL_REQUIRED' | translate }}
        </p>
      </div>

      <div padding-horizontal *ngIf="token.errors && (token.dirty || token.touched)">
        <p ion-text color="danger" [hidden]="!token.errors.required">
          {{ 'TOKEN_REQUIRED' | translate }}
        </p>
      </div>

      <div padding-horizontal *ngIf="password.errors && (password.dirty || password.touched)">
        <p ion-text color="danger" [hidden]="!password.errors.required">
          {{ 'PASSWORD_REQUIRED' | translate }}
        </p>
        <p ion-text color="danger" [hidden]="!password.errors.minlength">
          {{ 'PASSWORD_LENGTH_ERROR' | translate }}
        </p>
      </div>

      <div padding-horizontal *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
        <p ion-text color="danger">
          {{ 'PASSWORD_MATCH_ERROR' | translate }}
        </p>
      </div>

      <div padding>
        <button ion-button color="{{appConfig.appThemeOptions.color}}" block (click)="doResetPassword()" [disabled]="!frm.form.valid">{{ 'RESET_PASSWORD_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
