<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ section.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let loc of locations" ion-item text-wrap (click)="navigateto(loc)">
      <h2>{{loc.name}}</h2>
      <p>{{loc.address1}}</p>
      <p>{{loc.address2}}</p>
      <p>{{loc.city}}</p>
      <p>{{loc.zip}}</p>
      <p>{{loc.state}}</p>
      <p>{{loc.country}}</p>
      <ion-icon name="navigate" item-right></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="showEmpty">
    <ion-item text-center>
      {{emptyErrorString}}
    </ion-item>
  </ion-list>

</ion-content>
