<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ section.name }}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="bookinghistoryind">
      <ion-segment-button value="Current" (click)="showCurrent()">
        Current
      </ion-segment-button>
      <ion-segment-button value="Past" (click)="showHistory()">
        Past
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <button ion-item *ngFor="let booking of bookings" (click)="openBooking(booking)">
      <h2 class="ellipsis">{{booking.servicename}}</h2>
      <h3>{{booking.bookedtime}}</h3>
      <h3>{{booking.bookeddate | amUtc | amDateFormat:'MMMM Do YYYY'}}</h3>
      <div item-right>
        <h3>{{booking.status}}</h3>
      </div>
    </button>
  </ion-list>

  <div padding margin text-center [hidden]="!showEmpty">
     {{'EMPTY_ERROR' | translate}}
  </div>

</ion-content>
