<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ 'VERIFY_ACCOUNT_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #frm="ngForm">
    <ion-list>
      <p padding>
        {{ 'VERIFY_ACCOUNT_DESCRIPTION' | translate }}
      </p>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" #email="ngModel" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'VERIFICATION_TOKEN' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.token" name="token" #token="ngModel" placeholder="{{ 'VERIFICATION_TOKEN' | translate }}" required></ion-input>
      </ion-item>

      <div padding-horizontal *ngIf="email.errors && (email.dirty || email.touched)">
        <p ion-text color="danger" [hidden]="!email.errors.required">
          {{ 'EMAIL_REQUIRED' | translate }}
        </p>
      </div>

      <div padding-horizontal *ngIf="token.errors && (token.dirty || token.touched)">
        <p ion-text color="danger" [hidden]="!token.errors.required">
          {{ 'TOKEN_REQUIRED' | translate }}
        </p>
      </div>

      <div padding>
        <button ion-button color="{{appConfig.appThemeOptions.color}}" block (click)="doVerifyAccount()" [disabled]="!frm.form.valid">{{ 'VERIFY_ACCOUNT_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
