<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ section.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of listdata.list" detail-none [attr.no-lines]="listdata.hidedividerline?true:null"
    [attr.text-wrap]="listdata.showmultiline?true:null" [attr.text-nowrap]="!listdata.showmultiline?true:null" (click)="openItem(item.opensectionid)">
      <ion-avatar *ngIf="!listdata.hideavatar" item-left>
        <img [src]="item.url">
      </ion-avatar>
      <h2 [ngClass]="{'ellipsis': !listdata.showmultiline}">{{item.title}}</h2>
      <h3 [ngClass]="{'ellipsis': !listdata.showmultiline}">{{item.subtitle}}</h3>
      <p>{{item.description}}</p>
      <ion-icon *ngIf="item.opensectionid" name="arrow-forward" item-right color="dark"></ion-icon>
    </button>
  </ion-list>

  <ion-list *ngIf="showEmpty">
    <ion-item text-center>
      {{emptyErrorString}}
    </ion-item>
  </ion-list>

</ion-content>
