page-list {
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }
  .message-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 5px auto 5px auto;
  }
}
