<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ section.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <button *ngFor="let album of albums" ion-item (click)="openAlbum(album)">
      <h2 class="ellipsis">{{album.name}}</h2>
    </button>
  </ion-list>

  <ion-list *ngIf="showEmpty">
    <ion-item text-center>
      {{emptyErrorString}}
    </ion-item>
  </ion-list>

</ion-content>
