<ion-header>

  <ion-toolbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ pgTitle }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <button ion-item (click)="resourceChange(anyR)">
      <h2>{{anyR.name}}</h2>
    </button>
    <button ion-item *ngFor="let newR of selectFromRs" (click)="resourceChange(newR)">
      <h2>{{newR.name}}</h2>
      <p>{{newR.title}}</p>
    </button>
  </ion-list>

</ion-content>
