<ion-header>

  <ion-toolbar color="black">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ album.name }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>



<ion-content>

  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let pic of picsDisp"
        [ngStyle]="{
                  'background-color': '#000000',
                  'background-image':'url('+pic.src+')',
                  'background-repeat':'no-repeat',
                  'background-size':'contain',
                  'background-position': 'center center'
                  }">
    </ion-slide>
  </ion-slides>

</ion-content>
