<ion-content scroll="false">
  <div class="splash-intro">
    <h2>
      {{greeting}}
    </h2>
    <p>
      Sign in to continue. Don't have an account? Click on Sign up to create one.
    </p>
  </div>
  <div padding-horizontal padding-top>
    <button ion-button block (click)="login()" color="{{appConfig.appThemeOptions.color}}">{{ 'LOGIN' | translate }}</button>
  </div>
  <div padding>
    <button ion-button block (click)="signup()" color="light">{{ 'SIGNUP' | translate }}</button>
  </div>
</ion-content>
