page-welcome {
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') no-repeat transparent;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 40%;
  }
  .splash-intro {
    text-align: center;
    max-width: 80%;
    margin: auto;
  }
}
