<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{'CONFIRM_DIVIDER_LABEL' | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="navCtrl.popToRoot()">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item text-wrap>
      <ion-grid no-padding>
        <ion-row>
          <ion-col no-padding>
            <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
              {{section.sectionservicelabel || 'CONFIRM_SERVICE_DIVIDER_LABEL' | translate}}
            </h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding>
            <h2>
              {{service.name}}
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap>
      <ion-grid no-padding>
        <ion-row>
          <ion-col no-padding>
            <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
              {{'CONFIRM_DATE_DIVIDER_LABEL' | translate}}
            </h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding>
            <h2>
              {{queryDate | amDateFormat:'ddd MMM Do'}}, {{timeslot.time}}
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap>
      <ion-grid no-padding>
        <ion-row>
          <ion-col no-padding>
            <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
              {{'CONFIRM_QUANTITY_DIVIDER_LABEL' | translate}}
            </h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding>
            <h2>
              {{quantity}}
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap>
      <ion-grid no-padding>
        <ion-row>
          <ion-col no-padding>
            <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
              {{service.resourcelabel || 'CONFIRM_RESOURCE_DIVIDER_LABEL' | translate}}
            </h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding>
            <h2>
              {{serviceBy}}
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>



  <div padding>
    <button ion-button block
    color="{{appConfig.appThemeOptions.color}}" (click)="book()">
      {{'BOOK_BUTTON_LABEL' | translate}}
    </button>
  </div>

</ion-content>
