page-confirm-booking {
  .alterntive-list-summary-label-md {
    color: $label-md-text-color;
    padding-top: $grid-padding-width/2;
    padding-bottom: $grid-padding-width/2;
  }
  .alterntive-list-summary-label-wp {
    color: $label-wp-text-color;
    padding-top: $grid-padding-width/2;
    padding-bottom: $grid-padding-width/2;
  }
}
