<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{ 'HOME' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only [hidden] = "!appConfig.appPushSection || appConfig.appPushSection.hideinhomestatusbar"
      (click)="openPage(appConfig.appPushSection)">
        <ion-icon name="notifications-outline">
          <ion-badge *ngIf="appConfig.appPushSection && appConfig.appPushSection.notificationbadgevalue" class="notifications-badge" color="danger">{{appConfig.appPushSection.notificationbadgevalue}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content [ngStyle]="appConfig.homeStyle">
  <!-- Partial top -->
  <div class="partial" [ngStyle]="appConfig.homePartialStyle">
    <div class="partial-logo" [ngStyle]="appConfig.homePartialLogoStyle">
    </div>
  </div>

  <!-- Sections -->
  <ion-grid>
    <ng-container *ngFor="let row of appConfig.appThemeOptions.homerows">

      <ion-row *ngIf="row.mode=='tiles'" wrap>
        <ion-col no-padding no-margin *ngFor="let col of row.cols"
         [attr.col-3]="col.width=='25'?true:null"
         [attr.col-4]="col.width=='33'?true:null"
         [attr.col-6]="col.width=='50'?true:null"
         [attr.col-8]="col.width=='67'?true:null"
         [attr.col-9]="col.width=='75'?true:null">
          <ion-row *ngFor="let cell of col.cells">
            <ion-col no-padding no-margin [ngClass]="'tile-box-'+cell.height">
              <a class="tile-box-content" [ngStyle]="cell.tileStyle" (click)="openPage(cell.section)">
                <div class="tile-box-content-img" *ngIf="cell.tileimage && cell.namevalign!='Top'" [ngStyle]="cell.tileImageStyle"></div>
                <div [ngStyle]="cell.nameStyle">
                  <div style="padding: 8px;" class="ellipsis" *ngIf="cell.section">
                    <span class="tiles-badge" *ngIf="cell.section && cell.section.notificationbadgevalue">
                      {{cell.section.notificationbadgevalue}}
                    </span>
                    {{cell.section.name}}
                  </div>
                </div>
                <div class="tile-box-content-img" *ngIf="cell.tileimage && cell.namevalign=='Top'" [ngStyle]="cell.tileImageStyle"></div>
              </a>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <div padding-horizontal padding-top *ngIf="row.mode=='button'" class="button-list-parent">
        <button ion-button [ngStyle]="row.nameStyle" [full]="row.full" [round]="row.round"
        color="{{row.color}}" (click)="openPage(row.section)">{{row.section.name}}</button>
      </div>

    </ng-container>
  </ion-grid>



  <ion-card *ngIf="appConfig.appInfoLoadErr">
    <ion-card-header text-center>
      Error
    </ion-card-header>
    <ion-card-content>
      {{appConfig.appInfoLoadErrString}}
    </ion-card-content>
  </ion-card>
</ion-content>
