page-home {
  ion-content {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }
  .notifications-badge {
      position: absolute;
      top: -3px;
      right: -3px;
      border-radius: 25%;
      font-size: 1.2rem;
      padding: 1px 3px;
  }
  .tiles-badge {
    background-color: red;
    color: #fff;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    border-radius: 0%;
  }
  .partial {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .partial-logo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
  }
  .tile-box-25 {
    position: relative;
    overflow: hidden;
  }
  .tile-box-25:after {
    content: "";
    display: block;
    padding-top: 25%;
  }
  .tile-box-50 {
    position: relative;
    overflow: hidden;
  }
  .tile-box-50:after {
    content: "";
    display: block;
    padding-top: 50%;
  }
  .tile-box-75 {
    position: relative;
    overflow: hidden;
  }
  .tile-box-75:after {
    content: "";
    display: block;
    padding-top: 75%;
  }
  .tile-box-100 {
    position: relative;
    overflow: hidden;
  }
  .tile-box-100:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .tile-box-125 {
    position: relative;
    overflow: hidden;
  }
  .tile-box-125:after {
    content: "";
    display: block;
    padding-top: 125%;
  }
  .tile-box-150 {
    position: relative;
    overflow: hidden;
  }
  .tile-box-150:after {
    content: "";
    display: block;
    padding-top: 150%;
  }
  .tile-box-200 {
    position: relative;
    overflow: hidden;
  }
  .tile-box-200:after {
    content: "";
    display: block;
    padding-top: 200%;
  }
  .tile-box-300 {
    position: relative;
    overflow: hidden;
  }
  .tile-box-300:after {
    content: "";
    display: block;
    padding-top: 300%;
  }
  .tile-box-400 {
    position: relative;
    overflow: hidden;
  }
  .tile-box-400:after {
    content: "";
    display: block;
    padding-top: 400%;
  }
  .tile-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: $grid-padding-width/4;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .tile-box-content-img {
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .button-list-parent {
    width: 100%;
    text-align: center;
  }


}
