<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ section.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-item-divider color="light">
    {{ 'BOOKING_SELECT_SERVICE_DIVIDER_LABEL_PREFIX' | translate}} {{section.sectionservicelabel || 'BOOKING_SERVICE_LABEL' | translate }}
  </ion-item-divider>

  <ion-list>
    <button *ngFor="let service of services" ion-item (click)="search(service)" text-wrap>
      <h2>{{service.name}}</h2>
    </button>
  </ion-list>

  <ion-list *ngIf="showEmpty">
    <ion-item text-center>
      {{emptyErrorString}}
    </ion-item>
  </ion-list>

</ion-content>
