<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ section.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div margin>
    <div *ngFor="let info of infosectiondata">
      <div *ngIf="info.type=='Rich Text'" [innerHTML]="info.infodata | safeHtml"> </div>
      <img *ngIf="info.type=='One Image'" class="message-image" [src]="info.url" />
    </div>
  </div>

  <ion-list *ngIf="showEmpty">
    <ion-item text-center>
      {{emptyErrorString}}
    </ion-item>
  </ion-list>

</ion-content>
