<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #frm="ngForm">
    <ion-list>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" #email="ngModel" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" #password="ngModel" placeholder="{{ 'PASSWORD' | translate }}" required></ion-input>
      </ion-item>

      <div padding-horizontal *ngIf="email.errors && (email.dirty || email.touched)">
        <p ion-text color="danger" [hidden]="!email.errors.required">
          {{ 'EMAIL_REQUIRED' | translate }}
        </p>
      </div>

      <div padding-horizontal *ngIf="password.errors && (password.dirty || password.touched)">
        <p ion-text color="danger" [hidden]="!password.errors.required">
          {{ 'PASSWORD_REQUIRED' | translate }}
        </p>
      </div>

      <div padding>
        <button ion-button color="{{appConfig.appThemeOptions.color}}" block (click)="doLogin()" [disabled]="!frm.form.valid">{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>

      <div padding>
        <button ion-button color="{{appConfig.appThemeOptions.color}}" clear block (click)="forgotPassword()">{{ 'FORGOT_PASSWORD_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
