<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ album.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let pic of picsDisp; let i = index;" col-4>
        <div [ngStyle]="{
                    'cursor':'pointer',
                    'background-image':'url('+pic.thumb+')',
                    'background-repeat':'no-repeat',
                    'background-size':'cover',
                    'background-position': 'center center',
                    'width':'100%',
                    'height':'0',
                    'padding-top':'100%'
                  }" (click)="showSliderMode(i)">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="showEmpty">
    <ion-item text-center>
      {{emptyErrorString}}
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
