<ion-header>

  <ion-toolbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ pgTitle }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let quantity of quantityRange; let i = index;" (click)="select(i)">
      <h2>{{quantity}}</h2>
    </button>
  </ion-list>
</ion-content>
