<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="{{appConfig.appThemeOptions.navbarcolor}}">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let section of appConfig.appAllSections" (click)="openPage(section)">
        {{section.name}}
        <span *ngIf="section.notificationbadgevalue" item-end>({{section.notificationbadgevalue}})</span>
      </button>
      <button menuClose ion-item (click)="logout()">
        Logout
      </button>
    </ion-list>
    <ion-card *ngIf="appConfig.appInfoLoadErr">
      <ion-card-header text-center color="{{appConfig.appThemeOptions.color}}">
        Error
      </ion-card-header>
      <ion-card-content>
        {{appConfig.appInfoLoadErrString}}
      </ion-card-content>
    </ion-card>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
