<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">

    <ion-title>{{ interaction.title }}</ion-title>

    <ion-buttons end>
      <button [hidden]="!(section.discussionallowed)" ion-button icon-only (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item-divider text-wrap color="light">
      <h2>{{ interaction.title }}</h2>
    </ion-item-divider>

    <ion-item text-wrap *ngFor="let message of messages" class="enable-border" no-lines>

      <ion-grid no-padding>

      <!-- first row with sender information, recieved date time and optional delete button on the right -->
        <ion-row>
         <ion-col col-9 class="no-padding-horizontal">
           <p>{{message.createdon | amCalendar:{sameDay:'[Today] h:mm A', lastDay: '[Yesterday] h:mm A', lastWeek: 'ddd h:mm A', sameElse: 'MM/DD/YYYY'} }}</p>
           <h3>{{message.creatinguser.firstname}} {{message.creatinguser.lastname}}</h3>
         </ion-col>
         <ion-col text-right col-3 class="no-padding-horizontal">
           <button [hidden]='!(section.discussionallowed && section.usercandeleteowninteractionmessage && message.creatinguser.id==currentUserId)'
            ion-button icon-only small clear color="{{appConfig.appThemeOptions.color}}" (click)="deleteInteractionMessage(message)">
             <ion-icon name="trash"></ion-icon>
           </button>
           </ion-col>
         </ion-row>

         <!-- next row containing the image of the message for simple messages -->
         <ion-row *ngIf="!message.messageformind && section.module!='Push' && message.message[1] && message.message[1].fieldvalue">
           <ion-col class="no-padding-horizontal">
             <img class="message-image" [src]="message.message[1].fieldurl" (click)="openImage(message.message[1])"/>
           </ion-col>
         </ion-row>

         <!-- next row containing the text of the message for simple messages -->
         <ion-row *ngIf='!message.messageformind'>
           <ion-col class="no-padding-horizontal">
             <h3>{{message.message[0].fieldvalue}}</h3>
           </ion-col>
         </ion-row>

         <!-- next row containing the message form for form based messages -->
         <div *ngIf="message.messageformind">
           <ion-card class="message-form-card">
             <ion-card-header>
               <ion-row>
                 <ion-col no-padding>
                    {{message.messageformname}}
                 </ion-col>
               </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-row *ngFor="let messagefield of message.message">
                <ion-col no-padding>
                  <p>{{messagefield.fieldname}}</p>
                  <h3 *ngIf="messagefield.fieldtype=='Date'">{{(messagefield.fieldvalue | amDateFormat:'MMM D, YYYY')}}</h3>
                  <h3 *ngIf="messagefield.fieldtype=='Select Multiple'">{{messagefield.fieldvalue?messagefield.fieldvalue.join(", "):null}}</h3>
                  <h3 *ngIf="messagefield.fieldtype=='String' || messagefield.fieldtype=='Number' || messagefield.fieldtype=='Select One'">{{messagefield.fieldvalue}}</h3>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
         </div>

         <!-- Button for Push  Messages -->
         <div *ngIf="section.module=='Push'">
           <div *ngFor="let messagefield of message.message">
             <div padding *ngIf="messagefield.fieldname=='apptargetsectionname' && messagefield.fieldvalue">
               <button ion-button block (click)="pushGoToTarget(message.message)" color="{{appConfig.appThemeOptions.color}}">{{messagefield.fieldvalue}}</button>
             </div>
           </div>
         </div>

       </ion-grid>

    </ion-item>

  </ion-list>

  <ion-list *ngIf="showEmpty && (!messages || !messages.length)">
    <ion-item text-center>
      {{emptyErrorString}}
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab *ngIf="section.discussionallowed" right bottom>
    <button ion-fab color="{{appConfig.appThemeOptions.color}}" (click)="newMessage()">
      <ion-icon name="ios-undo"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
