page-interaction-messages {
  .enable-border {
    border-bottom: 1px solid $list-border-color !important;
  }
  .no-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .message-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 5px auto 5px auto;
  }
  .message-form-card {
    border: thick solid #A9A9A9 !important;
  }
  .message-form-card ion-card-header {
    background-color: color($colors, light, base);
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .message-form-card ion-card-content {
    margin-bottom: 16px !important;
  }
  .message-form-card ion-card-content ion-row {
    min-height: 64px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border-bottom: 1px solid #E9E9E9 !important;
  }
  .message-form-card ion-card-content ion-row p {
    font-size: 12px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

}
