<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{interaction.title || 'NEW_INTERACTION_PAGE_TITLE' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <form #frm='ngForm' (ngSubmit)="sendMessage()">
    <!-- Simple Message -->
    <ion-list *ngIf="simpleMessageInd">
        <!-- Interaction Title -->
        <ion-item *ngIf="newInteractionInd">
          <ion-label stacked>{{titleLabelString}} ({{requiredString}})</ion-label>
          <ion-textarea [(ngModel)]="interaction.title" name="title" rows="2" required></ion-textarea>
        </ion-item>

        <!-- Simple Message (Image)-->
        <ion-item *ngIf="simpleMessageInd && newMessageForm.form.fields[1].fileurl" no-lines>
          <img class="message-image" src="{{newMessageForm.form.fields[1].fileurl}}" />
        </ion-item>

        <!-- Simple Message (Message)-->
        <ion-item *ngIf="simpleMessageInd">
          <ion-label stacked>{{messageLabelString}}</ion-label>
          <ion-textarea [(ngModel)]="newMessageForm.form.fields[0].fieldvalue" name="msg" rows="5">
         </ion-textarea>
        </ion-item>

    </ion-list>


    <!-- Form Message -->
    <ion-list *ngIf="!simpleMessageInd">

        <!-- Interaction Title -->
        <ion-item *ngIf="newInteractionInd">
          <ion-label stacked>{{ titleLabelString }} ({{requiredString}})</ion-label>
          <ion-input type="text" [(ngModel)]="interaction.title" name="title" rows="2"></ion-input>
        </ion-item>

        <ion-item *ngFor="let formfield of newMessageForm.form.fields; let i = index;">

          <ion-label stacked>{{ formfield.fieldrequired? formfield.fieldname +' ('+ requiredString +')':formfield.fieldname }}</ion-label>

          <ion-input *ngIf="formfield.fieldtype=='String'" type="text"
          [(ngModel)]="formfield.fieldvalue" name="{{i}}"></ion-input>

          <ion-input *ngIf="formfield.fieldtype=='Number'" type="number"
          [(ngModel)]="formfield.fieldvalue" name="{{i}}"></ion-input>

          <ion-datetime *ngIf="formfield.fieldtype=='Date'" displayFormat="MMM D, YYYY" min="{{defaultMinDate}}"
            max="{{defaultMaxDate}}" [(ngModel)]="formfield.fieldvalue" name="{{i}}">
          </ion-datetime>

          <ion-select *ngIf="formfield.fieldtype=='Select One'"
           [(ngModel)]="formfield.fieldvalue" name="{{i}}">
             <ion-option *ngFor="let value of formfield.validvalues">
               {{value}}
             </ion-option>
          </ion-select>

          <ion-select *ngIf="formfield.fieldtype=='Select Multiple'"
           [(ngModel)]="formfield.fieldvalue" multiple="true" name="{{i}}">
             <ion-option *ngFor="let value of formfield.validvalues">
               {{value}}
             </ion-option>
          </ion-select>

        </ion-item>

    </ion-list>

    <ion-item [hidden]="!requiredErrorString" no-lines text-wrap>
      <p ion-text color="danger">{{requiredErrorString}}</p>
    </ion-item>

  </form>

</ion-content>

<ion-footer *ngIf="!(newInteractionInd && !simpleMessageInd)">
  <ion-toolbar>
    <ion-buttons end>
      <button [hidden]="!simpleMessageInd" ion-button icon-only (click)="loadCamera(newMessageForm.form.fields[1])" padding-horizontal color="dark">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button [hidden]="!simpleMessageInd" ion-button icon-only (click)="loadGallery(newMessageForm.form.fields[1])" padding-horizontal color="dark">
        <ion-icon name="images"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
