<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ availPgTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

   <ion-item-group>
    <ion-item-divider color="light">{{ 'BOOKING_DATE_DIVIDER_LABEL' | translate }}</ion-item-divider>
    <ion-item>
      <ion-label class="{{platform.is('android')?'subtle-label-md':(platform.is('windows')?'subtle-label-wp':null)}}" >
        {{ 'BOOKING_DATE_LABEL' | translate }}
      </ion-label>
      <ion-datetime displayFormat="DDDD MMM D, YYYY" min="{{minQueryDate.dp}}"
       max="{{maxQueryDate.dp}}" [(ngModel)]="queryDate.dp" (ionChange)="dateChange()">
      </ion-datetime>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="service.multiunitbooking">
    <ion-item-divider color="light">{{ 'BOOKING_QUANTITY_DIVIDER_LABEL' | translate }}</ion-item-divider>
    <button ion-item detail-none (click)="openQuantitySelect()">
      <ion-label class="{{platform.is('android')?'subtle-label-md':(platform.is('windows')?'subtle-label-wp':null)}}" >
        {{ 'BOOKING_QUANTITY_LABEL' | translate }}
      </ion-label>
      <div item-content padding-right>{{quantity}}</div>
    </button>
  </ion-item-group>

  <ion-item-group [hidden]="!service.selectresource">
    <ion-item-divider color="light">{{ 'BOOKING_RESOURCE_DIVIDER_LABEL_PREFIX' | translate }} {{ service.resourcelabel || 'BOOKING_RESOURCE_LABEL' | translate }}</ion-item-divider>
    <button ion-item detail-none *ngFor="let selR of userSelectedRs; let i = index;" (click)="openResourceSelect(selR, i+1)">
      <!--<ion-label class="{{platform.is('android')?'subtle-label-md':(platform.is('windows')?'subtle-label-wp':null)}}" >
        {{ service.resourcelabel || 'BOOKING_RESOURCE_LABEL' | translate }} {{userSelectedRs.length>1?i+1:null}}
      </ion-label>
      <div item-content padding-right>{{selR.name}}</div>-->
      <ion-label>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-6 no-padding class="{{platform.is('android')?'subtle-label-md ellipsis':(platform.is('windows')?'subtle-label-wp ellipsis':'ellipsis')}}">
              {{ service.resourcelabel || 'BOOKING_RESOURCE_LABEL' | translate }} {{userSelectedRs.length>1?i+1:null}}
            </ion-col>
            <ion-col col-6 no-padding class="ellipsis" text-right>
              {{selR.name}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </button>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">{{ 'BOOKING_RESULT_DIVIDER_LABEL' | translate }}</ion-item-divider>

    <div padding margin text-center [hidden]="slotsAvailable">
       {{'BOOKING_NO_AVAILABILITY' | translate}}
    </div>

    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let timeslot of timeslots">
          <button ion-button block
            color="{{timeslot.available?appConfig.appThemeOptions.color:'light'}}"
            [disabled]="!timeslot.available" (click)="selectForBooking(timeslot)">
            {{timeslot.time}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-group>

</ion-content>
