page-search-availability {
  .subtle-label-md {
    color: $label-md-text-color;
  }
  .subtle-label-wp {
    color: $label-wp-text-color;
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }
}
