<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ 'NEW_ACCOUNT_VERIFICATION_TOKEN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #frm="ngForm">
    <ion-list>
      <p padding>
        {{ 'NEW_ACCOUNT_VERIFICATION_TOKEN_DESCRIPTION' | translate }}
      </p>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" #email="ngModel" placeholder="your@email.com" required></ion-input>
      </ion-item>

      <div padding-horizontal *ngIf="email.errors && (email.dirty || email.touched)">
        <p ion-text color="danger" [hidden]="!email.errors.required">
          {{ 'EMAIL_REQUIRED' | translate }}
        </p>
      </div>

      <div padding>
        <button ion-button color="{{appConfig.appThemeOptions.color}}" block (click)="doNewVerificationToken()" [disabled]="!frm.form.valid">{{ 'NEW_ACCOUNT_VERIFICATION_TOKEN_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
