<ion-header>
  <ion-toolbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>
      {{'MESSAGE_FORMS_PAGE_TITLE' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let form of messageForms" text-wrap (click)="dismiss(form)">
        <h3>{{form.name}}</h3>
        <p>{{form.description}}</p>
        <ion-note item-right>
          <button ion-button clear small color="{{appConfig.appThemeOptions.color}}">
            {{'MESSAGE_FORMS_FORM_SELECT_LABEL' | translate}}
          </button>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
