<ion-header>
  <ion-toolbar color="black">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{
                        'background-color': '#000000',
                        'background-image':'url('+field.fieldurl+')',
                        'background-repeat':'no-repeat',
                        'background-size':'contain',
                        'background-position': 'center center'
                        }">


</ion-content>
