<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{ section.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionInput)="filterFAQs($event)"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let faq of filteredFAQs" ion-item text-wrap>
      <h2>{{faq.question}}</h2>
      <p>{{faq.answer}}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="showEmpty">
    <ion-item text-center>
      {{emptyErrorString}}
    </ion-item>
  </ion-list>

</ion-content>
