<ion-header>

  <ion-navbar color="{{appConfig.appThemeOptions.navbarcolor}}">
    <ion-title>{{booking.servicename}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-item *ngIf="successMessage" text-wrap class="successMessage" no-lines>
    <h2 text-center><b>Success!</b></h2>
    <h2 padding-top> {{successMessage}} </h2>
  </ion-item>

    <ion-list>
      <ion-item text-wrap>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
                {{'BOOKING_CONFIRMATION_NUMBER_LABEL' | translate}}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <h2>
                {{booking.id}}
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item text-wrap>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
                {{booking.sectionservicelabel || 'BOOKING_SERVICE_LABEL' | translate }}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <h2>
                {{booking.servicename}}
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item text-wrap>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
                {{ 'BOOKING_DATE_LABEL' | translate }}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <h2>
                {{booking.bookeddate | amUtc | amDateFormat:'dddd MMMM Do YYYY'}} at {{booking.bookedtime}}
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item text-wrap>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
                {{ 'BOOKING_QUANTITY_LABEL' | translate }}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <h2>
                {{booking.quantity}}
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item text-wrap>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
                {{ booking.appservice.resourcelabel || 'BOOKING_RESOURCE_LABEL' | translate }}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <h2>
                {{booking.requestedresources}}
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item text-wrap>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
                {{ 'BOOKING_BOOKED_ON_LABEL' | translate }}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <h2>
                {{booking.bookedon | amCalendar}}
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item text-wrap>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <h3 class="{{platform.is('android')?'alterntive-list-summary-label-md':'alterntive-list-summary-label-wp'}}">
                {{ 'BOOKING_STATUS_LABEL' | translate }}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <h2>
                {{booking.status}}
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <div padding-top padding-horizontal>
      <button ion-button block color="light" (click)="navCtrl.pop()">
        {{'BOOKING_DETAILS_GOBACK_LABEL' | translate}}
      </button>
    </div>
    <div padding-vertical padding-horizontal>
      <button ion-button block color="danger" (click)="confirmCancel()" [hidden]="!booking.showcancel">
        {{'BOOKING_CANCEL_LABEL' | translate}}
      </button>
    </div>




</ion-content>
